.page{
  background-color: rgb(64, 83, 83);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.main {
  width:200px;
  background-color: black;
  color: white,;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  background-color: gray;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  padding: 8px;
  margin-block: 20px;
}

.input {
  background-color: white;
  color: black;
  display: block;
  height: 40px;
  border-radius: 3px;
  padding-block: 5px;
  margin-block: 15px;
}